.List {
  width: 562px;
}

.ListDescription {
  position: relative;
  display: inline-block;
  vertical-align: top;
  left: 24px;
}

.Address {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #464646;
}

.LeftCol {
  font-size: 14px;
  line-height: 16px;
  color: #464646;
}

.RightCol {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #464646;
  margin-left: 200px;
}

.Details {
    top: 98px;
    position: absolute;
  }