.auth {
  position: fixed;
  width: 340px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 36px;

  &--signup {
    height: 425px;
  }

  &__title {
    text-align: center;
    color: #219653;
    margin: 0;
  }

  &__error {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__error--signup {
    top: 23.5%;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
