@import "../config/main";

.input-field {
  position: relative;

  &__input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #a5a5a5;
    box-sizing: border-box;
  }

  &__input:hover {
    border: 1px solid #333333;
  }

  &__input:focus {
    border: 2px solid $primary;
  }

  &__right-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a5a5a5;
    background: #fff;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    svg {
      fill: #666666;
      transition: fill 0.2s ease;
    }

    svg:hover {
      fill: #888888;
    }
  }
}

// SIZE

.input-field--sm {
  .input-field__input {
    font-size: 14px;
    padding: 0.6rem 0.7rem;
  }

  .input-field__input:focus {
    padding: calc(0.6rem - 1px) calc(0.7rem - 1px);
  }

  .input-field__right-icon {
    width: 2.2rem;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

// STATE

.input-field--disabled {
  .input-field__input {
    background-color: rgba(70, 70, 70, 0.1);
    cursor: context-menu;
  }

  .input-field__input:hover,
  .input-field__input:focus {
    border: 1px solid #a5a5a5;
  }
}

// Size

.input-field--md {
  .input-field__input {
    font-size: 16px;
    padding: 0.8rem 1rem;
  }

  .input-field__input:focus {
    padding: calc(0.8rem - 1px) calc(1rem - 1px);
  }
}

.input-field--md.input-field--has-right-icon {
  .input-field__input {
    padding: 0.8rem 3.5rem 0.8rem 1rem;
  }

  .right-icon {
    width: 48px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.input-field.danger {
  input {
    border: 2px solid $red;
  }

  input.sm {
    padding: calc(0.6rem - 1px) calc(0.7rem - 1px);
  }
}

.input-field__input::-webkit-outer-spin-button,
.input-field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field__input[type="number"] {
  -moz-appearance: textfield;
}
