.Checkbox {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  margin: 4px 0;
}

/* Hide the browser's default checkbox */
.Input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
  left: 10px;
  width: 100%;
  -webkit-appearance: checkbox;
}

/* Create a custom checkbox */
.Checkmark {
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #219653;
  cursor: pointer;
}

/* When the checkbox is checked, add a blue background */
.Input:checked ~ .Checkmark {
  background-color: #219653;
}

/* Show the checkmark when checked */
.Input:checked ~ .Checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.Checkmark:after {
  content: '';
  left: 4px;
  top: 1px;
  position: absolute;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}

/* On mouse-over, add a grey background color */
.Checkmark:hover {
  background-color: #ccc;
}
