$primary: #219653;
$primary-hover: #15ad57;
$secondary: #b9ffd880;
$gray: rgba(211, 248, 226, 0.4);
$black: #464646;
$red: #e74c3c;
$redlight: rgba(231, 76, 60, 0.2);

$pleased: #27ae60;
$satisfied: #2ecc71;
$doubt: #f1c40f;
$disappointed: #e67e22;
$upset: #e74c3c;
