.Container {
    display: block;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    border: 1px solid #219653;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(156, 39, 176, 0.2);
    border-radius: 4px;
    height: 30px;
    min-width: 98px;
  }
  
  .CheckboxInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .Checkmark {
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
  
  .Checkmark div {
    text-align: center;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-size: 14px;
    color: #219653;
  }
  
  .Container:hover .CheckboxInput ~ .Checkmark {
    background-color: #6fcf97;
  }
  
  .Container .CheckboxInput:checked ~ .Checkmark {
    background-color: #219653;
  }
  
  .CheckboxInput:checked ~ .Checkmark div {
    color: #ffffff;
  }
  