@import "./../../../../../assets/styles/GlobalStyles.scss";

.user-menu {
  width: 200px;

  &-profile {
    padding: 12px 12px 4px 12px;
    color: $primary;
    display: flex;
    flex-direction: column;

    .user-name {
      font-size: 18px;
      font-weight: 700;
    }

    .user-status {
      font-size: 12px;
    }
  }

  &-separator {
    border: 1px solid $secondary;
    margin: 4px 12px;
  }

  &-grp {
    display: flex;
    flex-direction: column;

    .user-menu-item {
      text-align: left;
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 600;
      color: #333333;
    }
    
    .user-menu-item:hover {
      background-color: $secondary;
      color: $primary
    }
  }
}
