.ProfileCard {
  background: #fafafa;
  border-radius: 4px;
  height: 536px;
  width: 368px;
  border-radius: 5px;
  padding: 0;
}

.GreenDiv {
  width: 368px;
  height: 139px;
  background: #219653;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.Section {
  bottom: 0;
  width: 368px;
  height: 398px;
  position: absolute;
  padding: 80px 24px 24px 24px;
  box-sizing: border-box;
}

.ImgProfile {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 24%;
  transform: translate(-50%, -50%);
}
