@import "../../../assets/styles/GlobalStyles.scss";

.update-coffeeshop .images {
  width: 100%;
  height: 257px;
  margin-bottom: 16px;
  padding: 24px 12px 24px 24px;
  box-sizing: border-box;

  h2 {
    margin-bottom: 16px;
  }

  &-container {
    display: flex;
  }

  .delete-button {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    fill: #333;
    background-color: #dddddd;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .delete-button:hover {
    fill: #000000;
    background-color: #bbbbbb;
  }
}

