@import "../../../assets/styles/GlobalStyles.scss";

.add-coffeeshop-header {
  width: 100%;
  margin-bottom: 16px;
  padding: 0;

  .header {
    width: 100%;
    height: 206px;
    position: relative;

    &-img {
      width: 100%;
      height: 100%;
      border-radius: 4px 4px 0px 0px;
      display: block;
      object-fit: cover;
    }

    &-img-edit {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      position: absolute;
      top: 0;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(70, 70, 70, 0.5);

      .edit-input {
        opacity: 0;
        width: 111px;
        height: 36px;
        cursor: pointer;
      }
    }

    &-img-edit:hover {
      opacity: 1;
    }
  }
}

.add-coffeeshop-profile {
  height: 45%;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .add-col {
    display: flex;
    align-items: center;

    .add-label {
      color: $black;
      font-size: 16px;
      font-weight: 600;
      width: 170px;
      display: flex;
      align-items: center;
      flex-shrink: 0;
    }
  }

  .open-map {
    border: 2px solid $primary;
    height: 56px;
    width: 56px;
    border-radius: 6px;
    margin: 8px 0 0 8px;
    flex-shrink: 0;
    padding: 14px;
    box-sizing: border-box;

    &-icon {
      fill: $primary;
    }
  }

  .open-map:hover {
    background-color: $secondary;
  }
}
