.homepage,
.homepage-member  {
  height: 100vh;
  width: 100vw;
}

.homepage {
  background: url("/background.jpg") center no-repeat;
  background-size: cover;
}

.homepage-member {
  background: url("/background-member.jpg") center no-repeat;
  background-size: cover;
}

.homepage-header {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -43%);
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #FAFAFA;
}

.homepage-btn-search {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -63%);
}


