@import "../../../../assets/styles/GlobalStyles.scss";

.update-coffeeshop .facilities {
  display: flex;
  font-size: 14px;

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-add {
    position: relative;

    .add-button {
      font-family: inherit;
      font-weight: 600;
      padding: 0.4rem 0.7rem;
      border-radius: 6px;
      color: $primary;

      svg {
        height: 12px;
        width: 12px;
        margin-right: 6px;
        fill: $primary;
      }
    }

    .add-button:hover {
      background-color: $secondary;
    }
  }
}
