.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 36px 42px 24px 42px;
}

.Header {
  font-size: 36px;
  text-align: center;
  color: #219653;
}

.SmallHeader {
  font-size: 24px;
  text-align: center;
  color: #333;
}

.Close {
  top: 12px;
  right:12px;
}
