.search-filter {
  height: 60px;
  box-sizing: border-box;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-label {
    font-weight: bold;
    font-size: 16px;
    color: #464646;
    margin: 0;
  }

  &-checkbox {
    min-width: fit-content;

    .checkbox-checkmark div{
      padding: 0 16px;
    }
  }

  &-distance,
  &-price  {
    position: relative;
  }
}

