@import "../../../../assets/styles/GlobalStyles.scss";

.warning-modal {
  display: flex;
  flex-direction: column;
  width: 375px;
  box-sizing: border-box;
  padding: 20px;

  &-header {
    font-size: 18px;
    font-weight: 600;
    color: $black;
  }

  &-text {
    font-size: 14px;
    color: $black;
    margin: 16px 0 32px 0;
  }

  &-controls {
    display: flex;
    width: 100%;

    button {
       margin-right: 12px;
    }
  }
}
