.Information {
  width: 100%;
  margin-bottom: 16px;
  padding: 24px 24px 24px 18px;
  box-sizing: border-box;
}

.HeaderText {
  font-weight: bold;
  font-size: 20px;
  color: #219653;
  margin: 0 0 16px 6px;
}

.Desc {
  display: flex;
}

.Desc table {
    font-size: 16px;
    border-spacing: 6px;
    margin-right: 24px;
}

.TableSecondCol {
    margin: 40px;
}

.TableHeader {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #464646;
  text-align: left;
}
