@import "../../../../../../assets/styles/GlobalStyles.scss";

.owner-promo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 6px 4px;

  .item-value {
    width: 180px;
    font-size: 14px;
    font-weight: 600;
    color: $black;
  }

  .item-controls {
    display: flex;

    .item-edit,
    .item-delete {
      width: 26px;
      height: 26px;
      padding: 4px;
      flex-shrink: 0;
    }

    .item-edit {
      padding: 5px 4px 4px 4px;
      fill: #666666;
    }

    .item-delete {
      fill: $red;
    }
  }
}