@import "../../assets/styles/GlobalStyles.scss";

.update-coffeeshop {
  top: 92px;
  position: relative;
  display: flex;
  justify-content: center;

  &-container {
    max-width: 756px;
    width: 80%;
  }

  .avg-price,
  .contact,
  .operational-hours,
  .facilities {
    margin: 0.5rem 0;
  }

  .header-label,
  .information-label {
    color: $black;
    font-size: 14px;
    font-weight: 600;
    width: 200px;
    flex-shrink: 0;
    padding: 0.5rem 0;
  }

  .submit-button {
    margin: 0 auto;
    padding: 0.6rem 2rem;
  }
}
