@import "../../../../../assets/styles/GlobalStyles.scss";

.feedback-rating {
  width: 380px;
  height: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-title {
    font-size: 24px;
    text-align: center;
    color: $primary;
    margin: 0;
  }

  &-error {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    width: 100%;

    .form-question {
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: $black;
    }

    .form-radio-grp {
      display: flex;
      justify-content: space-between;

      .form-radio-btn {
        border: none;
        height: 48px;
        width: 48px;
        cursor: pointer;

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }

  &-controls {
    display: flex;
    justify-content: space-between;
  }
}

.radio-icon svg {
  fill: #777777;
}

#happy-icon:hover svg,
.radio-active #happy-icon svg {
  fill: #27ae60;
}

#smiling-icon:hover svg,
.radio-active #smiling-icon svg {
  fill: #2ecc71;
}

#doubt-icon:hover svg,
.radio-active #doubt-icon svg {
  fill: #f1c40f;
}

#sad-icon:hover svg,
.radio-active #sad-icon svg {
  fill: #e67e22;
}

#sad-sleepy-icon:hover svg,
.radio-active #sad-sleepy-icon svg {
  fill: #e74c3c;
}