.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-link {
    font-size: 18px;
    font-weight: 600;
    color: #fafafa;
    padding: 6px 10px;
    margin-left: 8px;
  }
  
  &-link:hover {
    background-color: rgba(70, 70, 70, 0.2);
    border-radius: 4px;
  }

  &-separator {
    height: 36px;
    width: 2px;
    background-color: rgba(70, 70, 70, 0.4);
    margin: 8px;
  }

  &-profile {
    position: relative;
    margin: 0 6px;
  }
}