@import "../../../../assets/styles/GlobalStyles.scss";

.owner-promo {
  padding: 20px;
  min-height: 120px;
  width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-title {
    font-size: 16px;
    font-weight: 600;
    color: $primary;
    margin-bottom: 10px;
  }

  &-error {
    margin-bottom: 8px;
  }

  &-add {
    width: 100%;

    .add-btn {
      width: 100%;
    }
  }
}
