.bubblebox,
.bubblebox:after {
  background-color: white;
  border: 1px solid #979797;
  position: absolute;
}

.bubblebox {
  margin-top: 4px;
  border-radius: 5px;
  height: fit-content;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  box-sizing: border-box;
}

.bubblebox:after {
  content: "";
  top: 13px;
  width: 10px;
  height: 10px;
  border-top-left-radius: 5px;
  transform: rotate(45deg);
  border-bottom: 0;
  border-right: 0;
  margin-left: -5px;
  margin-top: -20px;
}

.bubblebox-right {
  left: 0;
}

.bubblebox-left {
  right: 0;
}

.bubblebox-right:after {
  left: 16px;
}

.bubblebox-left:after {
  right: 12px;
}
