.RadioButtonGroup {
    margin-top: 6px;
    z-index: 200;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    padding: 16px;
  }