.field-grp {
  display: flex;
  margin: 12px 0;

  .field-input,
  .field-btn {
    font-size: 16px;
    padding: 7px 12px;
    border: 1px solid #888888;
  }

  .field-input {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: rgba(70, 70, 70, 0.1);
  }

  .field-input:focus {
    outline: none;
  }

  .field-btn {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: none;

    &-ico {
      width: 20px;
      height: 20px;
    }
  }
}