.FormEdit {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.BtnGroup {
  display: flex;
  justify-content: space-between;
  width: 204px;
}

.ImgProfile {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
}

.EditProfPict {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(70, 70, 70, 0.5);
  opacity: 0;
  z-index: 200;
}

.EditProfPict:hover {
  opacity: 1;
}

.EditProfPict input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.BtnSmall {
  color: #fafafa;
  cursor: pointer;
}
