@import "../../../assets/styles/GlobalStyles.scss";

.input-field {
  position: relative;

  input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid #a5a5a5;
    box-sizing: border-box;
  }

  input:hover {
    border: 1px solid #333333;
  }

  input:focus {
    border: 2px solid $primary;
  }

  .right-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 2.2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      fill: #666666;
      width: 18px;
      height: 18px;
      transition: fill 0.2s ease;
    }

    svg:hover {
      fill: #888888;
    }
  }

  // SIZE

  input.sm {
    padding: 0.6rem 0.7rem;
  }

  input.sm:focus {
    padding: calc(0.6rem - 1px) calc(0.7rem - 1px);
  }
}

.input-field.danger {
  input {
    border: 2px solid $red;
  }

  input.sm {
    padding: calc(0.6rem - 1px) calc(0.7rem - 1px);
  }
}
