@import "../../../../assets/styles/GlobalStyles.scss";

.coffeeshop-review-item {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  .review-user {
    display: flex;

    &-img {
      width: 36px;
      height: 36px;
      background-color: #555555;
      border-radius: 50%;
    }

    &-details {
      display: flex;
      flex-direction: column;
      margin-left: 12px;

      .review-user-name {
        font-size: 14px;
        font-weight: 600;
        color: $primary;
      }

      .review-user-date {
        font-size: 12px;
        color: #555555;
      }
    }
  }

  .review-main {
    display: flex;
    flex-direction: column;

    &-rating {
      border-radius: 6px;
      padding: 4px 6px;
      border: 1px solid $primary;
      display: flex;
      width: fit-content;
      margin: 8px 0;
      fill: $primary;
      color: $primary;

      .rating-icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }

      .rating-result {
        font-size: 14px;
        font-weight: 600;
      }
    }

    &-text {
      font-size: 14px;
    }
  }
}

.review-main {
  .rating-5 {
    border: 1px solid #27ae60;
    fill: #27ae60;
    color: #27ae60;
  }

  .rating-4 {
    border: 1px solid #2ecc71;
    fill: #2ecc71;
    color: #2ecc71;
  }

  .rating-3 {
    border: 1px solid #f1c40f;
    fill: #f1c40f;
    color: #f1c40f;
  }

  .rating-2 {
    border: 1px solid #e67e22;
    fill: #e67e22;
    color: #e67e22;
  }

  .rating-1 {
    border: 1px solid #e74c3c;
    fill: #e74c3c;
    color: #e74c3c;
  }
}
