.share {
  padding: 16px 12px;

  &-title {
    margin: 0;
    color: #219653;
  }

  &-opts-grp {
    .opts-whatsapp-btn,
    .opts-email-btn {
      width: 100%;
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
    }

    .opts-whatsapp-btn {
      margin-bottom: 6px;
      background-color: #57b357;
    }

    .opts-email-btn {
      background-color: #264876;
    }
  }
}
