@import "../../assets/styles/GlobalStyles.scss";

.dnd {
  position: relative;

  &-ondrag {
    border: 2px dashed $primary;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-size: 16px;
  }
}
