.BtnLogin{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -108px;
}

.FormLogin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Login {
    position: fixed;
    width: 370px;
    height: 416px;
  }

  .Close {
    top: 12px;
    right:12px;
  }