@import "../../../../assets/styles/GlobalStyles.scss";

.edit-promo {
  padding: 20px;
  min-height: 120px;
  width: 282px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-title {
    font-size: 16px;
    font-weight: 600;
    color: $primary;
    margin-bottom: 10px;
  }

  &-add {
    margin-top: 8px;

    .add-btn {
      width: 242px;
    }
  }
}
