@import "../../../assets/styles/GlobalStyles.scss";

.add-coffeeshop-information {
  width: 100%;
  margin-bottom: 16px;
  padding: 24px;
  box-sizing: border-box;

  .content-wrapper {
    display: flex;
    flex-direction: column;

    .information-col {
      display: flex;
      align-items: center;

      &-title {
        color: $black;
        font-size: 16px;
        font-weight: 600;
        width: 200px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }

      .add-btn {
        width: 28px;
        height: 28px;
        padding: 6px;
        fill: $primary;
        margin-left: 6px;
      }

      .add-btn:hover {
        background-color: $secondary;
      }
    }

    .top-align {
      align-items: flex-start;

      .information-col-title {
        margin: 28px 0;
      }
    }
  }
}
