.Verification {
  height: 387px;
  width: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 48px 48px;
}

.Header {
  font-size: 28px;
  color: #219653;
  text-align: center;
}

.EnvelopeIco {
  position: relative;
  top: 27px;
  left: 50%;
  transform: translateX(-50%);
  vertical-align: top;
  width: 100px;
  height: 100px;
}

.Desc {
  font-size: 14px;
  line-height: 19px;
  display: block;
  text-align: center;
  color: #9d9d9d;
  top: 36px;
  position: relative;
  margin: auto;
}

.Btn {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 208px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 48px;
}