@import "../../../../assets//styles/GlobalStyles.scss";

.best-recommend {
  margin-bottom: 16px;
  height: 270px;
  cursor: pointer;
  display: flex;
  padding: 0;

  &-accent {
    width: 8px;
    height: 100%;
    background-color: $primary;
    border-radius: 4px 0px 0px 4px;
    flex-basis: 1;
  }

  &-main {
    padding: 16px 24px 16px 16px;

    .main-title {
      color: $primary;
    }

    .main-coffeeshop {
      display: flex;
      

      &-img {
        width: 200px;
        height: 200px;
        border-radius: 6px;
      }

      &-desc {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .address {
          color: $black;
          font-weight: 600;
          font-size: 14px;
        }

        .details {
          font-size: 14px;
          color: $black;

          &-wrapper {
            display: flex;
            margin: 0.3rem 0;
          }

          &-label {
            width: 108px;
          }

          &-main {
            font-weight: 600;
          }

          &-promo-grp {
            margin-top: 6px;
            display: flex;
            width: 100%;
          }
        }
      }
    }

    .main-rating {
      height: 36px;
      width: 36px;
      background: $secondary;
      border-radius: 4px;
      color: $primary;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }
}
