@import "../../../../assets/styles/GlobalStyles.scss";

.coffeeShop-promo {
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 4px;
  background-color: $primary;
  color: #fafafa;
  margin-right: 6px;
}