.Card {
  background: #fafafa;
  border-radius: 4px;
  padding: 16px 24px;
}

.Shadow {
  box-shadow: 0 1px 3px rgba(77, 77, 77, 0.12), 0 1px 2px rgba(77, 77, 77,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}