code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus, 
input:focus {
  outline: none;
}

