body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;
  margin: 0;
  margin-bottom: 9px;
  color: #464646;
}

h2 {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 27px;

  /* Primary Color */
  color: #219653;
}

a {
  text-decoration: none;
}

table {
  border-collapse: separate;
  border-spacing: 5px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errorMessage {
  position: absolute;
  font-size: 12px;
  color: #eb5757;
  left: 50%;
  transform: translateX(-50%);
}