.Search {
  display: flex;
  position: relative;
  justify-content: center;
  top: 92px;
  width: 100%;
}

.Recommendation {
  margin: 0 24px;
}

.ListIsEmpty {
  width: 562px;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
}
